html,
body {
    height: 100%;
    margin: 0;
    max-height: 100%;
    width: 100%;
}

#root {
    align-items: center;
    display: flex;
    min-height: 100%;
    width: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
    background: #70e1f5;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #70e1f5, #ffd194);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #70e1f5, #ffd194);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.panes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}


/* Commit to fix stale GitHub Pages */

.questions-pane {
    margin: 0 12px 24px;
    width: calc(100% - 2px),
}

.results-pane {
    margin: 24px 12px;
    width: calc(100% - 24px);
}

@media only screen and (min-width: 720px) {
    .panes {
        flex-direction: row;
        width: 100%;
    }
    .questions-pane {
        margin: 0 12px;
        width: 50%,
    }
    .results-pane {
        margin: 0;
        width: 50%;
    }
}

@media only screen and (min-width: 1024px) {
    .panes {
        width: 1024px;
    }
}
